<h1>Code Conundrum</h1>
<div class="container-fluid">
    <div class="col-md-3">
        <ul *ngIf="items">
            <li *ngFor="let item of items">
                {{item.name}}
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <!--<div>
            <form class="form" [formGroup]="articleForm">
                <div class="form-group">
                    <label for="name" class="control-label">Title</label>
                    <input type="text" class="form-control" id="name" formControlName="name" />
                </div>
            </form>
        </div>-->
        <div id="article"></div>
    </div>
</div>